@import "tailwindcss";

@theme {
  --color-primary: #7047eb;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.reveal-container {
  display: block;
}
